[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
dynaconf = "*"
pydantic = "*"
typer = "*"
slack-sdk = "*"
slack-bolt = "*"

[dev-packages]
black = "==23.3"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
